<div class="container">
  <input type="text" [(ngModel)]="titre" placeholder="Rechercher une catégorie par titre">
  <div class="row">
    <div class="col-md-4" *ngFor="let category of categories | categoryFilter: titre" style="margin-bottom: 20px;" appHighlight>
      <img [src]="category.image" [alt]="category.title" class="img-fluid h-50 w-75" (click)="showDescription(category.description)">
      <h3>{{ category.title | uppercase }}</h3>
      <button *ngIf="category.available" class="btn btn-primary">Voir produits</button>
      <p *ngIf="!category.available">Catégorie non disponible</p>
      <p>{{ category.description }}</p>
    </div>
  </div>
</div>
